main {

}

#form {
  width: 600px;
  border: 2px solid black;
}

#name {
  margin-top: 5px;
  margin-left: 7px;
}

#emailDiv {
  margin-left: 10px;
  margin-top: 8px;
}

#email {
  width: 180px;
}

#favorite {
    margin-left: 8px;
    margin-top: 15px;
}

#text {
  resize: none;
}

#textDiv {
  margin-left: 15px;
}

#date {
    margin-left: 15px;
    margin-top: 10px;
}

#permission {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#buttonDiv {
  margin-left: 15px;
  margin-bottom: 10px;
}

#delete {
  margin-left: 5px;
}