h1 {
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

#colors {
    font-style: italic;
    line-height: 20px;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}